In [204]:
import pandas as pd
from collections import OrderedDict
from datetime import datetime, timedelta

In [205]:
hoje = datetime.now()

datas_entrega = [(hoje + timedelta(days=i*5)).strftime("%d/%m/%Y") for i in range(11)]

pedidos = OrderedDict(
    {
        'Nome': ["Rafael", "Ana", "Nicolas", "Joao", "Gabriel", "Lucas", "Rodrigo", "Davi", "Felipe", "Sarah", "Hiramatsu"],
        'Usuario': ["Rafael.henry", "Ana.luz", "Nicolas.clay", "Joao.victor", "Gabriel.bahia", "Lucas.adriano", "Rodrigo.oliveira", "Davi.ribeiro", "Felipe.alison", "Sarah.costa", "Eduardo.hiramatsu"],
        'Pedido': ["Macbook", "Ipad", "Monitor", "Job", "Valorant VP", "Dragon Lore", "E-book AWS", "Curso Python", "PC gamer", "Pandora", "Bapesta"],
        'Prioridade': ["Alto", "Alto", "Baixo", "Media", "Media", "Media", "Baixo", "Baixo", "Alto", "Media", "Alto"],
        'Data_entrega': datas_entrega
    }
)

db = pd.DataFrame(pedidos)
display(db)

         Nome            Usuario        Pedido Prioridade Data_entrega
0      Rafael       Rafael.henry       Macbook       Alto   12/08/2024
1         Ana            Ana.luz          Ipad       Alto   17/08/2024
2     Nicolas       Nicolas.clay       Monitor      Baixo   22/08/2024
3        Joao        Joao.victor           Job      Media   27/08/2024
4     Gabriel      Gabriel.bahia   Valorant VP      Media   01/09/2024
5       Lucas      Lucas.adriano   Dragon Lore      Media   06/09/2024
6     Rodrigo   Rodrigo.oliveira    E-book AWS      Baixo   11/09/2024
7        Davi       Davi.ribeiro  Curso Python      Baixo   16/09/2024
8      Felipe      Felipe.alison      PC gamer       Alto   21/09/2024
9       Sarah        Sarah.costa       Pandora      Media   26/09/2024
10  Hiramatsu  Eduardo.hiramatsu       Bapesta       Alto   01/10/2024

In [206]:
altaPrioridade = db[db["Prioridade"] == 'Alto']
display(altaPrioridade)

         Nome            Usuario    Pedido Prioridade Data_entrega
0      Rafael       Rafael.henry   Macbook       Alto   12/08/2024
1         Ana            Ana.luz      Ipad       Alto   17/08/2024
8      Felipe      Felipe.alison  PC gamer       Alto   21/09/2024
10  Hiramatsu  Eduardo.hiramatsu   Bapesta       Alto   01/10/2024

In [207]:
baixaPrioridade = db[db["Prioridade"] == 'Baixo']
display(baixaPrioridade)

      Nome           Usuario        Pedido Prioridade Data_entrega
2  Nicolas      Nicolas.clay       Monitor      Baixo   22/08/2024
6  Rodrigo  Rodrigo.oliveira    E-book AWS      Baixo   11/09/2024
7     Davi      Davi.ribeiro  Curso Python      Baixo   16/09/2024

In [208]:
mediaPrioridade = db[db["Prioridade"] == 'Media']
display(mediaPrioridade)

      Nome        Usuario       Pedido Prioridade Data_entrega
3     Joao    Joao.victor          Job      Media   27/08/2024
4  Gabriel  Gabriel.bahia  Valorant VP      Media   01/09/2024
5    Lucas  Lucas.adriano  Dragon Lore      Media   06/09/2024
9    Sarah    Sarah.costa      Pandora      Media   26/09/2024

In [209]:
tempo_processamento = {
    'Alto': 2, 
    'Media': 4,
    'Baixo': 6
}

In [210]:
def processar_pedidos(pedidos_df, prioridade):
    tempo = tempo_processamento[prioridade]
    pedidos_df['Inicio'] = pd.date_range(start=hoje, periods=len(pedidos_df), freq='H')
    pedidos_df['Fim'] = pedidos_df['Inicio'] + pd.to_timedelta(tempo, unit='h')
    return pedidos_df

In [211]:
altaPrioridade = processar_pedidos(altaPrioridade, 'Alto')
mediaPrioridade = processar_pedidos(mediaPrioridade, 'Media')
baixaPrioridade = processar_pedidos(baixaPrioridade, 'Baixo')

C:\Users\amand\AppData\Local\Temp\ipykernel_22892\3634191029.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pedidos_df['Inicio'] = pd.date_range(start=hoje, periods=len(pedidos_df), freq='H')
C:\Users\amand\AppData\Local\Temp\ipykernel_22892\3634191029.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pedidos_df['Fim'] = pedidos_df['Inicio'] + pd.to_timedelta(tempo, unit='h')
C:\Users\amand\AppData\Local\Temp\ipykernel_22892\3634191029.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pedidos_df['Inicio'] = pd.date_range(start=hoje, periods=len(pedidos_df), freq='H')
C:\Users\amand\AppData\Local\Temp\ipykernel_22892\3634191029.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pedidos_df['Fim'] = pedidos_df['Inicio'] + pd.to_timedelta(tempo, unit='h')
C:\Users\amand\AppData\Local\Temp\ipykernel_22892\3634191029.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pedidos_df['Inicio'] = pd.date_range(start=hoje, periods=len(pedidos_df), freq='H')
C:\Users\amand\AppData\Local\Temp\ipykernel_22892\3634191029.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pedidos_df['Fim'] = pedidos_df['Inicio'] + pd.to_timedelta(tempo, unit='h')

In [212]:
def calcular_tempo_total(df):
    return (df['Fim'].max() - df['Inicio'].min()).total_seconds() / 3600

In [213]:
tempo_total_alta = calcular_tempo_total(altaPrioridade)
tempo_total_media = calcular_tempo_total(mediaPrioridade)
tempo_total_baixa = calcular_tempo_total(baixaPrioridade)

In [214]:
tempo_total = tempo_total_alta + tempo_total_media + tempo_total_baixa

tempo_ideal = max(tempo_total_alta, tempo_total_media, tempo_total_baixa)

tempo_overhead = tempo_total - tempo_ideal

In [215]:
print(f"Tempo total de processamento para alta prioridade: {tempo_total_alta} horas")
print(f"Tempo total de processamento para média prioridade: {tempo_total_media} horas")
print(f"Tempo total de processamento para baixa prioridade: {tempo_total_baixa} horas")
print(f"Tempo total de processamento: {tempo_total} horas")
print(f"Tempo ideal de processamento: {tempo_ideal} horas")
print(f"Tempo de overhead: {tempo_overhead} horas")

Tempo total de processamento para alta prioridade: 5.0 horas
Tempo total de processamento para média prioridade: 7.0 horas
Tempo total de processamento para baixa prioridade: 8.0 horas
Tempo total de processamento: 20.0 horas
Tempo ideal de processamento: 8.0 horas
Tempo de overhead: 12.0 horas